<div class="k-card">
  <div class="k-container-sm">
    <div class="k-col-8">
      <span class="h2"> {{ "LABEL.SYSTEM" | translate }}</span>
    </div>
    <br />
    <div class="k-from k-m">
      <div class="k-row k-row-2 k-col-2">
        <label>Create By</label>
        <input class="k-input k-disabled" disabled />
      </div>
      <div class="k-row k-row-2 k-col-2">
        <label>Create Date</label>
        <input type="date" class="k-input k-disabled" disabled />
      </div>
      <div class="k-row k-row-2 k-col-2" disabled>
        <label>Update By</label>
        <input class="k-input k-disabled" disabled />
      </div>
      <div class="k-row k-row-2 k-col-2">
        <label>Updata Date</label>
        <input type="date" class="k-input k-disabled" disabled />
      </div>
    </div>
    <br />
  </div>
</div>
