<div style="margin-top: 15%">
  <div style="text-align: center; font-size: 50px; color: #2a2a2a">Login</div>

  <div
    style="padding-left: 35%; padding-right: 35%"
    class="p-d-flex p-flex-wrap"
  >
    <div class="p-d-flex p-flex-column ele-box-w-100">
      <label>{{ "LABEL.EMAIL_ADDRESS" | translate }} : </label>
      <cust-input-text
        inputId="EMAIL_ADDRESS"
        [(CustModel)]="model.email_address"
        [CustConfig]="DEFAULT_INPUTTEXT"
      >
      </cust-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-100">
      <label>{{ "LABEL.BANK_NAME" | translate }} : </label>
      <cust-input-text
        inputId="EMAIL_ADDRESS"
        [(CustModel)]="model.password"
        [CustConfig]="DEFAULT_INPUTTEXT"
      >
      </cust-input-text>
    </div>
    <div
      style="align-items: center; margin-top: 20px"
      class="p-d-flex p-flex-column ele-box-w-100"
    >
      <cust-button
        inputId="LOGIN"
        [label]="'LABEL.LOGIN' | translate"
        className="cust-btn-primary k-ml p-m-2"
        [CustConfig]="buttonConfig"
      ></cust-button>
    </div>
    <div
      style="align-items: center"
      class="p-d-flex p-flex-column ele-box-w-100"
    >
      <p>สมัครสมาชิก</p>
    </div>
  </div>
</div>
<!-- 
<div class="conthiner-login">
  <div class="from box">
    <form>
      <div
        style="
          padding: 20px;
          text-align: center;
          font-size: 50px;
          padding: 0px 27px 27px 27px;
          color: #2a2a2a;
        "
      >
        Login
      </div>
      <br />

      <input
        type="text"
        placeholder="Username"
        class="input-login"
        name="username"
        [(ngModel)]="user.username"
      /><br /><br /><br />
      <input
        type="password"
        placeholder="Password"
        class="input-login"
        name="password"
        id="password"
        [(ngModel)]="user.password"
      /><br /><br />
      <div class="cleck-box">
        <input
          style="height: 20px; width: 20px; border: 2px solid red"
          type="checkbox"
          (change)="onChange($event)"
        />
        <small>Show password</small>
      </div>
      <br /><br />
      <div *ngIf="messagingService.messages.length">
        <ol>
          <li *ngFor="let message of messagingService.messages">
            <cust-alert alertType="text" value="{{ message }}"></cust-alert>
          </li>
        </ol>
      </div>
      <cust-button
        inputId="SAVE"
        [label]="'LABEL.SAVE' | translate"
        className="cust-btn-primary k-ml p-m-2"
        [CustConfig]="buttonConfig"
      ></cust-button>
      <button class="submit" (click)="login(); messagingService.clear()">
        Login</button
      ><br /><br /><br /><br />
      <div
        style="text-align: center; font-size: 12px; color: rgb(180, 179, 179)"
      >
        If you don't have an account ? |
        <span style="color: rgb(96, 131, 248); font-size: 12px">
          create account
        </span>
      </div>
    </form>
  </div>
</div>
-->
