<!-- <div class="RegisterCard">
  <div class="RegisterTitle">Register</div>
  <div class="StepRegister">
    <div class="StepItem">
      <div class="StepNumber">1</div>
      <div class="StepText">ข้อมูลส่วนบุคคล</div>
    </div>
    <div class="StepItem">
      <div class="StepNumber">2</div>
      <div class="StepText">ข้อมูลส่วนบุคคล</div>
    </div>
    <div class="StepItem">
      <div class="StepNumber">3</div>
      <div class="StepText">ข้อมูลส่วนบุคคล</div>
    </div>
    <div class="StepItem">
      <div class="StepNumber">4</div>
      <div class="StepText">ข้อมูลส่วนบุคคล</div>
    </div>
  </div>
  <div class="InputSection"></div>
  <div class="ConfirmSection">
    <div
      style="align-items: center; margin-top: 20px"
      class="p-d-flex p-flex-column ele-box-w-100"
    >
      <cust-button
        inputId="LOGIN"
        [label]="'LABEL.LOGIN' | translate"
        className="cust-btn-primary k-ml p-m-2"
        [CustConfig]="buttonConfig"
      ></cust-button>
    </div>
  </div>
</div> -->
