<div class="container">
  <div
    class="left-menu"
    [class.left-menu-none]="showMenuService.isPresentingLeftMenu | async"
  >
    <app-left-menu [onleftmenu_com1]="onleftmenu"></app-left-menu>
  </div>
  <div class="page">
    <div>
      <app-top-menu
        class="top-menu"
        [class.top-menu-none]="showMenuService.isPresentingTopMenu | async"
        (onlogout)="onlogout($event)"
      ></app-top-menu>
    </div>
    <div class="page">
      <div
        id="page_loader"
        class="page_loader cust-loadding-open"
        [class.cust-loadding-cansel]="loaderService.isLoading | async"
      >
        <div class="loader">
          <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64"></rect>
          </svg>
        </div>
      </div>
      <div
        class="page-component"
        [class.page-component-none]="loaderService.isLoading | async"
      >
        <router-outlet (activate)="onlogins($event)"></router-outlet>
      </div>
    </div>
  </div>
  <cust-toast></cust-toast>
</div>
