<button
  [id]="bindingInputId"
  type="button"
  [class]="bindingClassName"
  [disabled]="!bindingClassName"
  (click)="CustClick.emit($event)"
  [readonly]="getReadonly(bindingInputId)"
  [ngClass]="{
    'display-none':
      (bindingInputId === 'SAVE' || bindingInputId === 'SAVE_AND_CLOSE') &&
      isView
  }"
>
  <div style="display: flex; justify-content: center; align-items: center">
    <i *ngIf="bindingIcon" class="{{ bindingIcon }} icon">&nbsp;&nbsp;</i
    >{{ bindingLabel }}
  </div>
</button>
