<p-calendar
  [inputId]="bindingInputId"
  [(ngModel)]="bindingModel"
  [dateFormat]="bindingDateFormat"
  [dataType]="bindingDataType"
  [showIcon]="bindingTimeOnly == true ? false : bindingShowIcon"
  [selectionMode]="bindingSelectionMode"
  [showTime]="bindingShowTime"
  [timeOnly]="bindingTimeOnly"
  [yearNavigator]="true"
  yearRange="1900:2030"
  [hourFormat]="bindingHourFormat"
  [showSeconds]="bindingTimeOnly == true ? false : bindingShowSeconds"
  [readonly]="getReadonly(bindingInputId)"
  (ngModelChange)="onModelChange(kisModel)"
  class="calendar"
>
</p-calendar>

<!-- <p-calendar
  [inputId]="bindingInputId"
  [(ngModel)]="bindingModel"  
  [dataType]="bindingDataType"
  [showIcon]="bindingTimeOnly == true ? false : bindingShowIcon"
  [selectionMode]="bindingSelectionMode"
  [showTime]="bindingShowTime"
  [timeOnly]="bindingTimeOnly"
  [hourFormat]="bindingHourFormat"
  [showSeconds]="bindingTimeOnly == true ? false : bindingShowSeconds"
  [readonly]="getReadonly(bindingInputId)"
  (ngModelChange)="this.kisModelChange.next(kisModel)"
>
</p-calendar> -->
