<div style="margin: 75px 30px">
  <div class="pagetitle">{{ "LABEL.TODOLIST_HR" | translate }}</div>
  <div class="cust-grid" [class.cust-grid-none]="tablenone">
    <div
      class="line box1 numbershow"
      routerLink="/hrm/employee/probationtrans-hr"
    >
      <div class="title">
        {{ "LABEL.REQUEST_ADJUST_PROBATION_HR" | translate }}
      </div>
      <div class="number" innerHtm>
        {{ number_rows[0].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
    <div
      class="line box2 numbershow"
      routerLink="/hrm/employee/positiontrans-hr"
    >
      <div class="title">
        {{ "LABEL.REQUEST_ADJUST_POSITION_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[1].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
    <div class="line box3 numbershow" routerLink="/hrm/employee/salarytrans-hr">
      <div class="title">
        {{ "LABEL.REQUEST_ADJUST_SALARY_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[2].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
    <div class="line box4 numbershow" routerLink="/hrm/employee/resignhr">
      <div class="title">
        {{ "LABEL.RESIGN_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[3].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
    <div class="line box5 numbershow" routerLink="/hrm/employee/leavetrans-hr">
      <div class="title">
        {{ "LABEL.LEAVE_TRANS_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[4].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
    <div class="line box6 numbershow" routerLink="/hrm/employee/overtime-hr">
      <div class="title">
        {{ "LABEL.REQUEST_OVERTIME_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[5].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
    <div class="line box7 numbershow" routerLink="/hrm/employee/transfer-hr">
      <div class="title">
        {{ "LABEL.REQUEST_TRANSFER_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[6].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>

    <div
      class="line box8 numbershow"
      routerLink="/hrm/employee/requestrevisiontime-hr"
    >
      <div class="title">
        {{ "LABEL.REQUEST_REVISION_TIME_HR" | translate }}
      </div>
      <div class="number">
        {{ number_rows[7].value }}
      </div>

      <div class="lates">{{ "LABEL.LIST" | translate }}</div>
    </div>
  </div>
  <div class="status" [class.status-none]="tablenone">
    บัญชีนี้ยังไม่ผูกกับพนังงาน
  </div>
</div>
